extends ../_layout

block main
  .container
    form.form-auth(method='post')
      .form-group
        label(for='name') Имя
        input#name.form-control(name='name' type='text', placeholder='')
      .form-group
        label(for='surname') Фамилия
        input#surname.form-control(name='surname'  type='text', placeholder='')
      .form-group
        label(for='email') Почта
        input#email.form-control(name='email' type='email', placeholder='' required )
      .form-group
        label(for='password') Пароль
        input#password.form-control(name='password' type='password', placeholder='' required)
      .form-group
        label(for='confirmPassword') Подтвердите пароль
        input#confirmPassword.form-control(name='confirmPassword' type='password', placeholder='' required )
      .form-group
        label(for='age') Возраст
        input#age.form-control(name='age' type='number', placeholder='')
      .form-group
        button.btn.btn-primary.btn-right-margin(type='submit') Подтвердить
      