mixin checkbox(name)
  label.custom-control.custom-checkbox.mb-2.mr-sm-2.mb-sm-0
    input.custom-control-input(name=name type='checkbox')
    span.custom-control-indicator
    span.custom-control-description #{name}
