extends ../_layout

block main
  .container
    .row
      .col
        img(src=item.image width=400 height=400)
      .col
        h2=item.title
        p=item.text
        button.btn.btn-primary Купить

