.card {
  margin-bottom: 20px;
}

.list-group {
  margin-bottom: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
} 

.row-links {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}