extends ../_layout
include ../_mixins/checkbox

block main
  - var title = item.title ? item.title : ''
  - var price = item.price ? item.price : ''
  - var image = item.image ? item.image : ''
  .container
    form(method='post')
      .form-group
        label(for='title') Название
        input#title.form-control(type='text', placeholder='' name='title' value=title)
      .form-group
        label(for='price') Цена
        input#price.form-control(type='text', placeholder='' name='price' value=price)
      .form-group
        label(for='image') Ссылка на изображение
        input#image.form-control(type='text', placeholder='' name='image' value=image)
      .form-group
        span Размеры: 
        +checkbox('s')
        +checkbox('m')
        +checkbox('l')
        +checkbox('xl')
      button.btn.btn-primary Подтвердить
