extends ../_layout

block main
  .container
    ul.list-group
      li.list-group-item Телефон - +7900123456789
      li.list-group-item Адрес - г. Москва
      li.list-group-item
        a(href="www.facebook.com") Фейсбук
      li.list-group-item
        a(href="www.vk.com") Вконтакте
      li.list-group-item
        a(href="www.twitter.com") Твиттер
